[Package]
version: 1
depends:

[Product]
type: localboot
id: teska-schulschriften
name: teska-schulschriften
description: Generelle Schulschriften
advice:
version: 1.0
priority: 0
licenseRequired: False
productClasses:
setupScript: setup.ins
uninstallScript:
updateScript:
alwaysScript:
onceScript:
customScript:
userLoginScript:

